@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

html {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container-fluid {
    margin: 0;
}

#jumbotron-container {
    height: 100vh;
    width: 100%;
    background-image: url(../images/hero-bg.png) ;
    background-color: #252a30;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 0;
}

.jumbotron-items {
    background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}




h1.j-items,a.j-items {
    margin: auto;
    
}

a.ex-btn {
    transition: all .3s ease-in-out;
    border: 1px solid black;
    width: 150px;
    height: auto;
    padding: auto;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 70px;
    
}

a.ex-btn:hover {
    width: 200px;
    background-color: skyblue;
    border: 1px solid skyblue;
    
}

.jumbotron-items a {
    color: white;
    border: 1px solid white;
    margin:auto;
}

#path {
    border-top: 45px solid #252a30;
    border-left : 50vw solid transparent;
    border-right: 50vw solid transparent;
    margin-top: -1px;
}




/* NavBar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right : 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#opennav {
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 5px;
    color: white;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  
}






/*  Project 'list */

.pr-img-item img {
    height: 260px;
    width: 420px;
    max-width: 100%;
    max-height: 100%;
} 

.pr-item {
    margin-top: 32px;
    margin-bottom: 32px;
}

.skillChip li {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    line-height: 32px;
    display: inline;
    border-radius: 4px;
    font-size: 12px;
    background: #f04;
    padding: 4px 9px;
    margin-left: 0px;
    cursor: pointer;
    
}

.skillChip li:hover {
    background: red;
}

.skillChip {
    padding-left: 0px;
}





a.dl-btn {
    transition: all 0.8s ease-in-out;
    border: 0.5px solid #53a7ea;
    width: 150px;
    height: auto;
    overflow: hidden;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 0px;
    

}

a.dl-btn:before {
    
    font-family: FontAwesome;
    content: '\f019';
    position: absolute;
    
    left: -30px;
    transition: all 200ms ease;
    
}

a.dl-btn:hover:before {
    left : 20px;
    
}

a.dl-btn:hover {
    background-color: #53a7ea;  
}



a.git-btn {
    transition: all 0.8s ease-in-out;
    border: 0.5px solid #53a7ea;
    width: 150px;
    height: auto;
    overflow: hidden;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 70px;
    

}

a.git-btn:before {
    
    font-family: FontAwesome;
    content: '\f08e';
    position: absolute;
    
    left: -30px;
    transition: all 200ms ease;
    
}

a.git-btn:hover:before {
    left : 23px;
    
}

a.git-btn:hover {
    background-color: #53a7ea;
}










/* ***** FORM ****/
#contact-container {
    height: 400px;
    background-color: #e2dedb;
}

#form-container {
    padding-top: 40px;
}

#form-container ul li {
    list-style-type: none;
    margin: 5px 0;
}

#form-container ul  {
    text-align: center;
}

input {
    font-family: 'Lato', sans-serif;
    background: transparent;
    outline: none;
    color: #726659;
    padding: 5px 0px;
    height: 35px;
    border: solid 2px #b3aca7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
}

input:hover {
    background: #b3aca7;
    color: #e2dedb;
}


textarea {
    height: 130px;
    max-height: 130px;
    padding: 8px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    
    border: solid 2px #b3aca7;
    
    transition: all 0.3s ease-in-out;
}
  
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
}

#submit {
    font-family: 'Lato', sans-serif;
    
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 2px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    
  }


  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }

  input::placeholder, textarea::placeholder {
    color: #aca49c;
    
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }

  




/* Skill Set */

#skill-container {
    height: 400px;
    width: 100%;
    background-color: #252a30;
    text-align: center;
    color: white;    
    margin-right: 0px;
}

#skill-container h1 {
    color: gray;
    cursor: default;
    margin: 10px auto;
    width: 132px;
    
    
}

#skill-container h1:hover {
    color: white;
}

@media (max-width : 768px) {
    #skill-container {
        height: 500px;
        width: 100%;
    }
}



i {
    font-size: 70px;
    color: gray;
}

.skill-item {
    margin-bottom: 25px;
}


/* Footer */

#footer-container {
    height:100px;
    background-color: #252a30;
    text-align: center;
}


#footer-container div p { 
    color: white;
    margin-top : 15px;
}

#footer-container div a {
    margin-top: -5px;
    margin-right: 5px;
    font-size: 20px;
}

#footer-container div a i:hover {
    color: white;
}


/* Media Query */

@media (max-width : 425px) {
    form {
        position: relative;
        left: -20px;
    }

    a.dl-btn {
        width: 100%;
    }

    a.git-btn {
        width: 100%;
        margin: 5px 0; 
    }

    ul {
        width: 100%;
    }
}

@media (min-width:425px) and (max-width:768px) {
    a.dl-btn {
        width: 100%;
    }

    a.git-btn {
        width: 100%;
        margin: 5px 0; 
    }
}


/* animate try */

.animated.pop-in {
    animation: popIn 1s both;
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }
    60% {
        opacity: 1;
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}






